<header class="header">
  <div class="logo">
    <h2 class="login-header">Maxima</h2>
  </div>
  <nav class="menu">
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li class="cadastro">
        <a (mouseenter)="toggleCadastro(true)" (mouseleave)="toggleCadastro(false)">Cadastro</a>
        <ul class="submenu" [ngClass]="{ 'show': cadastroOpen }">
          <li><a routerLink="/produtos">Produtos</a></li>
          <li><a routerLink="/departamentos">Departamentos</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="user-actions">
    <button class="logout-button">Sair</button>
  </div>
</header>
