.menu {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* Adicionado para posicionamento absoluto do submenu */
  width: 100%;
}

.menu ul {
  list-style-type: none;
  display: flex;
}

.menu ul li {
  margin-right: 15px;
  position: relative; /* Adicionado para posicionamento absoluto do submenu */
  font-weight: bold;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  position: relative;
}

.menu ul li a:hover {
  text-decoration: underline;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #333;
  padding: 10px;
  top: 100%; /* Posiciona o submenu abaixo do item de menu */
  left: 0;
  z-index: 1; /* Garante que o submenu apareça sobre outros elementos */
}

.menu ul li.cadastro:hover .submenu {
  display: block; /* Mostra o submenu quando o mouse passa sobre o item de menu */
}

.user-actions {
  margin-left: auto;
}

.logout-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin: 4px;
}

.logout-button:hover {
  background-color: #c82333;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-container {
  display: flex;
  align-items: center; /* Ajuste para centralizar verticalmente */
}

.user-actions {
  position: absolute;
  top: 0;
  right: 20px; /* Ajuste a margem direita conforme necessário */
}
