.main-container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  min-height: 100vh; /* Garante que ocupe toda a altura da viewport */
}

.container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.invalid-feedback {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.footer {
  width: 100%;
  background-color: #f8f9fa;
  color: #777;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
