<div class="container">
  <h2>Criar Novo Produto</h2>
  <form *ngIf="produtoForm" [formGroup]="produtoForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="codigo">Código:</label>
      <input type="text" class="form-control" id="codigo" formControlName="codigo" placeholder="Código">
      <div *ngIf="produtoForm.get('codigo')?.invalid && (produtoForm.get('codigo')?.dirty || produtoForm.get('codigo')?.touched)" class="invalid-feedback">
        Código é obrigatório.
      </div>
    </div>
    <div class="form-group">
      <label for="descricao">Descrição:</label>
      <input type="text" class="form-control" id="descricao" formControlName="descricao" placeholder="Descrição">
      <div *ngIf="produtoForm.get('descricao')?.invalid && (produtoForm.get('descricao')?.dirty || produtoForm.get('descricao')?.touched)" class="invalid-feedback">
        Descrição é obrigatória.
      </div>
    </div>
    <div class="form-group">
      <label for="preco">Preço:</label>
      <input type="number" class="form-control" id="preco" formControlName="preco" placeholder="Preço">
      <div *ngIf="produtoForm.get('preco')?.invalid && (produtoForm.get('preco')?.dirty || produtoForm.get('preco')?.touched)" class="invalid-feedback">
        Preço é obrigatório.
      </div>
    </div>
    <div class="form-group">
      <label for="departamentoCodigo">Código do Departamento:</label>
      <select class="form-control" id="departamentoCodigo" formControlName="departamentoCodigo">
        <option *ngFor="
