@{
    ViewData["Title"] = "Home";
}

<style>
    body {
        background-image: url('~/img/fundo.jpg');
        background-size: cover;
        background-position: center;
    }

    .display-5 {
        font-size: 4em;
        margin-top: 100px;
    }

    .welcome-message {
        font-size: 2em;
    }
</style>

<div class="text-center">
    <h1 class="display-5" mb-3>Projeto Maxima</h1>
    <p class="welcome-message">Seja bem-vindo ao Projeto Maxima!</p>
</div>
