.table {
  width: 90%;
  margin: 20px auto; /* Centraliza a tabela com margem */
}

.table th, .table td {
  text-align: center;
  padding: 12px; /* Aumenta o padding para dar mais espaço nos botões */
}

.table th {
  background-color: #007BFF; /* Cor azul para o cabeçalho */
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.table td {
  background-color: #f8f9fa; /* Cor de fundo das células */
}

.table .btn {
  border-radius: 8px; /* Borda arredondada */
  margin-right: 15px;
  padding: 10px 16px; /* Aumenta o padding para deixar os botões maiores */
  cursor: pointer; /* Define o cursor como ponteiro para indicar que é clicável */
}

.table .btn-primary {
  background-color: #007BFF; /* Cor azul para os botões "Editar" e "Detalhes" */
  color: white;
}

.table .btn-primary:hover {
  background-color: #0056b3; /* Cor mais escura ao passar o mouse */
}

.table .btn-danger {
  background-color: #dc3545; /* Cor vermelha para o botão "Apagar" */
  color: white;
}

.table .btn-danger:hover {
  background-color: #c82333; /* Cor mais escura ao passar o mouse */
}

.btn-criar {
  background-color: #007BFF; /* Cor azul para o botão "Criar Novo Produto" */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none; /* Remove sublinhado padrão para links */
  margin: 10px; /* Espaçamento ao redor do botão */
}

.btn-criar:hover {
  background-color: #0056b3; /* Cor mais escura ao passar o mouse */
}
