/* produtos.component.css */

.table {
  width: 90%;
  margin: 20px auto; /* Centraliza a tabela com margem */
  border-collapse: collapse;
}

.table th, .table td {
  text-align: center;
  padding: 12px; /* Aumenta o padding para dar mais espaço nos botões */
}

.table th {
  background-color: #333; /* Cor azul para o cabeçalho */
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.table td {
  background-color: #f8f9fa; /* Cor de fundo das células */
}

.table .btn {
  border-radius: 8px; /* Borda arredondada */
  margin-right: 15px;
  padding: 10px 16px; /* Aumenta o padding para deixar os botões maiores */
}

.table .btn-primary {
  background-color: #333F; /* Cor azul para os botões "Editar" e "Detalhes" */
  color: white;
}

.table .btn-primary:hover {
  background-color: #0056b3; /* Cor mais escura ao passar o mouse */
}

.table .btn-danger {
  background-color: #dc3545; /* Cor vermelha para o botão "Apagar" */
  color: white;
}

.table .btn-danger:hover {
  background-color: #c82333; /* Cor mais escura ao passar o mouse */
}
