.table {
  width: 90%;
  margin: 20px auto; 
}

.table th, .table td {
  text-align: center;
  padding: 12px; 
}

.table th {
  background-color: #333; 
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.table td {
  background-color: #f8f9fa; 
}

.table .btn {
  border-radius: 8px; 
  margin-right: 15px;
  padding: 10px 16px; 
  cursor: pointer; 
}

.table .btn-primary {
  background-color: #007BFF; 
  color: white;
}

.table .btn-primary:hover {
  background-color: #0056b3; 
}

.table .btn-danger {
  background-color: #dc3545; /* Cor vermelha para o botão "Apagar" */
  color: white;
}

.table .btn-danger:hover {
  background-color: #c82333; /* Cor mais escura ao passar o mouse */
}

.btn-criar {
  background-color: #007BFF; /* Cor azul para o botão "Criar Novo Produto" */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none; /* Remove sublinhado padrão para links */
  margin: 10px; /* Espaçamento ao redor do botão */
}

.btn-criar:hover {
  background-color: #0056b3; /* Cor mais escura ao passar o mouse */
}

.btn-create-espaco {
  margin-top: 20px;
}